.Card {
  position: relative;

  display: flex;
  flex-direction: column;

  list-style-type: none;

  padding-top: 70%;
}

.Link {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(100% - 4.4rem - 16px);

  background-color: white;

  transition: transform 0.5s ease-in-out;
}

.Link:hover {
  transform: scale(1.1);
}

.Image {
  width: 100%;
  height: 100%;

  object-position: center;
  object-fit: cover;

  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.Title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 2.4rem;

  margin: 0;
}

.Text {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #8b8b8b;

  margin: 0;
  margin-top: 8px;
}

.Button {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 15%;

  transition: transform 0.4s ease-in-out;
}

.Button:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.Icon {
  color: var(--color-danger-500);
  width: 100%;
  height: 100%;
}
