.character__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  align-items: start;
  column-gap: 20px;
  row-gap: 38px;
  width: 100%;
}

@media screen and (max-width: 1090px) {
  .character__list {
    gap: 30px;
  }
}

@media screen and (max-width: 520px) {
  .character__list {
    gap: 34px;
  }
}
