.label {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.label:hover {
  opacity: 0.7;
  cursor: pointer;
}

.Text {
  font-weight: 400;
  font-size: 13px;
  padding-left: 24px;
}

.Text::first-letter {
  text-transform: uppercase;
}

.CustomCheckIcon {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #50514f;
}

.CustomCheckIcon::before {
  content: '';
  position: absolute;
  visibility: hidden;
  width: 8px;
  height: 8px;
  background-color: #9b7ede;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CustomCheckIconVisible::before {
  visibility: visible;
}

.label input {
  display: none;
}
