.Link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-black);
  text-align: center;

  margin-left: 30px;
  transition: opacity 0.3s ease-in-out;

  &Color {
    &Green {
      padding: 8px 20px;
      color: var(--color-black);
      background: #3ddc84;
      border-radius: 3px;
    }
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media screen and (max-width: 520px) {
  .Link {
    font-size: 10px;
    line-height: 16px;

    margin-left: 14px;

    &Color {
      &Green {
        padding: 7px 12px;
      }
    }
  }
}
